<div class="container">
  <div class="row">
    <app-game-control (numCounter)="gameCounterStarted($event)">
      <div class="row">
        <div
          class="col-xs-12 text-center"
          *ngFor="let oddAndEvenNumber of oddAndEvenNumbers"
        >
          <app-even
            *ngIf="oddAndEvenNumber % 2 == 0"
            [evenNumber]="oddAndEvenNumber"
          ></app-even>
          <app-odd
            *ngIf="oddAndEvenNumber % 2 !== 0"
            [oddNumber]="oddAndEvenNumber"
          ></app-odd>
        </div>
      </div>
    </app-game-control>
  </div>
</div>
